.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.image-item{
    height: 150px;
    border: 1px solid black;
    overflow: hidden;
}
.image-item img{
    display: block;
    width: 100%;
    height: 100%;
}