.sidebar{
    background-color: var(--header-bg);
    position: fixed;
    top: 60px;
    min-height: 700px;
    height: calc(100vh - 100px);
    width: 200px;
    transition: all 0.5s ease;
    z-index: 4;
}
.sidebar ul{
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.sidebar ul li a{
    padding: 0 5px;
    height: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
}
.sidebar ul li a:hover{
    position: relative;
    left: 10px;
}
.sidebar ul li:last-child{
    position: relative;
    top: 100px;
}
.sidebar ul li a span{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
}
.sidebar ul li a i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
