.header {
    background-color: var(--header-bg);
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 80px auto 80px;
    gap: 10px;
    position: fixed;
    top: 0px;
    z-index: 4;
    overflow: hidden;
}

.header-title {
    margin: auto auto;
}

.header-title h4 {
    display: inline;
    color: var(--header-text-color);
    font-size: 2rem;
    font-weight: 600;
}

.header i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-text-inactive);
    font-size: 2.3rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.header i:hover {
    color: var(--header-text-color);
}
.header-menu i{
    justify-content: flex-start;
    padding-left: 10px;
}