.video-pl-cont{
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 800px;
    min-width: 270px;
    background-color: rgb(97, 97, 97);
}
.video-main{
    width: 100%;
    height: 100%;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
}

.vid-controls{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    grid-template-rows: 20px 20px auto;
    gap: 1px;
    display: none;
}
.show-controls{
    display: grid;
}
.vid-controls .duration{
    color: #fff;
}
.timeline-box{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.time-pro-cont{
    width: 100%;
    height: 10%;
    background-color: #fff;
}
.timeline-box:hover{
    cursor: pointer;
}
.reached{
    height: 100%;
    background-color: red;
    position: relative;
}
.timeline-box:hover .reached::after{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 100%;
    transform: translateY(-5px);
    border-radius: 50%;
    background-color: red;
}
.vid-buttons{
    padding: 0 10px;
    display: grid;
    grid-template-columns: 40px 40px 40px auto;
    gap: 5px;
    color: var(--text-color);
    overflow: hidden;
}

.vid-buttons i{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
}
.vid-full-screen{
    display: flex;
    justify-content: flex-end;
}
.vid-full-screen i{
    position: relative;
    right: 5px;
    width: 30px;
}
.vid-detail{
    background-color: var(--bg-container);
    width: 100%;
    height: 70px;
    max-width: 800px;
    overflow: hidden;
}
.vid-detail h4{
    margin: 0;
    padding: 5px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(109, 107, 107);
}
.delete-video {
    background-color: rgb(250, 32, 32);
    margin: 5px 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.delete-video h5 {
    color: var(--text-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
@media screen and (min-width:800px){
    .video-pl-cont{
        margin: 5px;
    }
    .vid-detail{
        margin: 5px;
    }
}
